.my_jumbotron {
  height: 300px;
  background-image: url(../img/slide-1.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 30px;
  position: relative;

}

.my_jumbotron .trapezoid {
  display: inline-block;
	height: 0;
	width: 0;
  border-bottom: 300px solid #FF4136;
	border-left: 550px solid #FF4136;
  border-right: 200px solid transparent;
}
.my_jumbotron .text {
  width: 400px;
  color: white;
}
.my_jumbotron .jumbotron_text {
 position: absolute;
 top: 50%;
 left: 10%;
 transform: translate(0, -50%);
}


#popular_dev_courses {
  margin-top: 30px;
  margin-bottom: 30px;
}
#popular_dev_courses .card,
#recent_courses .card {
  font-size: x-small;
}

.line {
  width: 100%;
  background-color:lightgrey;
  height: 1px;
}

#limitless_learning {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  background-image: url(../img/bg.png);
  /* background-size: contain; */
  height: 400px;
  background-size: cover;

  background-repeat: no-repeat;
}

#limitless_box {
  width: 400px;
  /* height: 300px; */
  /* border: 1px solid black; */

  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

#limitless_box .my_button {
  border-radius: 20px;
}

#recent_courses .deck_three {
  margin-top: 30px;
}

#subscribe_newsletter {
  background-color: #ff4550;
  height: 80px;
}

#popular_courses {
  background-color: #dde6eb;
}

.investing {
  background-image: url(../img/testimonial-1.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.investing .text_box {
  background-color: white;
  height: 350px;
  width: 550px;

  margin-left: 200px;
}

/* FOOTER */
footer {
  background-color:  #292f47;
}

footer #f_section1 {
  height: 200px;
  border-bottom: 1px solid darkgrey;
}
footer #f_section2 {
  height: 40px;
}

#f_section1 .debug {
  border: 1px solid black;
  height: 150px;
  margin-top: 40px;
} 




/* DEBUG */
.debug .top_header .container{
  border: 1px solid coral;
}

.debug .col {
  border: 1px solid black;
  height: 30px;

}

.debug .bottom_header .col{
  height: 50px;
  background-color: #292f47;
}